<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img v-bind:src="image">
          </div>
          <div class="product-info">
            <h1>{{ product }}</h1>

            <h4>Sale Status:</h4>
            <p v-if='onSale'>On Sale</p>
            <p v-else>Out of Sale</p>

            <h4>Delivery Status:</h4>
            <p v-if = 'status = delivered'>Delivered!</p>
            <p v-else>Pending...</p>
            
            <h4>Inventory Status:</h4>
            <p v-if='inventory > 10'>Available!</p>
            <p v-else-if='inventory <= 10 && inventory > 0'>Almost out of Stock!</p>
            <p v-else>Unavailable!</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
